<div class="register">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()"> 
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Enter name" 
                    formControlName="name"
                 />                
          </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" formControlName="email"
           />
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" placeholder="Enter password" 
                formControlName="password"
                 />
        </div>        
        <button type="submit" class="btn btn-primary" style="width: 100%;" [disabled]="!registerForm.valid">Register</button>
      </form>
      <span>Already registered ?</span><a routerLink="/login">Login</a>
</div>